/* GENERAL */

body {
    font-family: 'Open Sans', sans-serif;
    color: #1C1C1C;
}

.vert {
    color: #479509;
    font-weight: 700;
    font-size: 4vh;
    text-shadow: 2px 5px 12px rgba(4, 2, 1, 0.3);
}

.marron {
    border-bottom: #c25719 solid 2px;
    border-top: #c25719 solid 2px;
}

a,
a :hover {
    color: #1C1C1C;
}


/* HEADER */

header {
    font-size: 3vh;
}

#logo {
    max-width: 300px;
}


/* NAVBAR */

nav {
    font-size: 2.5vh;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

nav li {
    list-style: none;
}

nav li :hover,
nav li :active {
    color: #c25719;
}


/* MAIN */

.carte {
    border: #c25719 solid 2px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 50px;
    font-size: 2.5vh;
    -webkit-box-shadow: 8px 11px 16px 5px rgba(0, 0, 0, 0.34);
    box-shadow: 8px 11px 16px 5px rgba(0, 0, 0, 0.34);
}

#infos-content {
    width: 90%;
    margin: 8px auto;
}

.infos-map {
    max-width: 90%;
    margin: auto;
}

.legende-img {
    color: #333232;
    font-size: 2vh;
}


/* FOOTER */

footer {
    background-image: url("https://www.ville-guyancourt.fr/wp-content/uploads/2019/02/Concours-p%C3%A9tanque-3-mousq-AV-026.jpg");
    background-size: cover;
    height: 30vh;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content {
    background-color: rgba(255, 255, 255, 0.7);
    width: 90%;
    padding: 5px;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* BOUTON HAUT DE PAGE */

#haut-de-page {
    width: 50px;
    position: fixed;
    bottom: 15px;
    right: 50px;
    background-color: #479509;
    padding: 5px;
    border: solid #1C1C1C 1px;
    border-radius: 40px
}